@model Trip

<form method="POST" asp-action="Edit" asp-controller="Trip">
    <input type="hidden" value="@Model.Id" />
    <p>
        <label for="destination">Destination</label>
        <input asp-for="Destination" value="@Model.Destination" />
    </p>
    <p>
        <label for="description">Description</label>
        <input asp-for="Description" value="@Model.Description" />
    </p>
    <p>
        <input type="submit" value="Mentés" />
    </p>
</form>